<a href="/visual-crossing-api">Temperatures for London, Manchester and Sunderland via the visual crossing weather api</a>
<br>
<a href="/open-weather-api">Description and temperatures for London, Manchester and Sunderland via the open weather api</a>